/* src/assets/main.css */
:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --primary-color: #42b983;
}

.dark {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --primary-color: #66d3fa;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    /* 平滑过渡 */
}